@import '../vendor/bootstrap/variables_custom';
@import '../vendor/bootstrap/mixins_custom/_mixins_custom.scss';

.rating {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: -5px;
}

.active {
  svg {
    fill: $brand-primary;
  }
}
